@media (min-width: 850px) {
  #home {
    padding: 48px 64px;
  }

  .header-fixed {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: space-between;

    width: 100%;

    padding: 0px 48px;

    background: #0000008a;

    z-index: 100;

    animation: expandHeader 0.2s ease-out forwards;
  }

  @keyframes expandHeader {
    from {
      height: 0;
      padding: 0px 64px;
    }
    to {
      height: fit-content;
      padding: 48px 64px;
    }
  }

  #home .header-logo {
    font-size: 32px;
  }

  #home .header-logo img {
    width: 48px;
  }

  #home .menu-button {
    display: none;
  }

  #home .menu {
    all: unset;

    display: flex;
    flex-direction: row;
    justify-content: center;

    flex: 1;

    width: fit-content;
  }

  #home .menu button {
    display: none;
  }

  #home .menu a {
    text-decoration: none;
  }

  #home .menu a:hover {
    background: none;

    color: var(--cor7);
    text-decoration: underline;
  }

  #home section {
    flex-direction: row-reverse;
    align-items: center;
    gap: 12px;
  }

  #home .home-text {
    justify-content: center;
    flex: 1;
  }

  #home .home-text h1 {
    font-size: 4rem;
  }

  #home .home-text p {
    font-size: 18px;
    line-height: 32px;
  }

  #home a {
    align-self: flex-start;
  }

  #home .home-img {
    display: flex;
    flex: 1;
  }

  #home .home-img img {
    display: flex;
    width: 80%;
  }

  #games {
    display: flex;
    gap: 48px;

    padding: 48px 64px;
  }

  #about {
    display: flex;

    padding: 48px;
  }

  #about article {
    padding: 48px;
  }

  #about .about-text p {
    font-size: 18px;
  }
}
