#home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;

  min-height: 100vh;
  padding: 24px;

  color: var(--cor8);

  background-image: url(../img/background.jpg);
  background-position: center;
  background-size: cover;
}

#home header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-fixed {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;

  width: 100%;

  padding: 0px 24px;

  background: #0000008a;

  z-index: 100;

  animation: expandHeader 0.2s ease-out forwards;
}

@keyframes expandHeader {
  from {
    height: 0;
    padding: 0px 24px;
  }
  to {
    height: fit-content;
    padding: 24px 24px;
  }
}

#home .header-logo {
  display: flex;
  align-items: center;
  gap: 4px;
  flex: 1;

  font-weight: 600;
}

#home .header-logo img {
  width: 32px;
}

#home .header-logo p {
  color: var(--cor8);
}

#home .header-logo span {
  color: var(--cor6);
}

#home .menu {
  position: fixed;
  top: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  gap: 12px;

  width: 0;
  height: 100%;
  padding: 24px 0px;

  background-color: var(--cor2);

  overflow: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 100;
}

#home .menu button {
  margin-left: auto;

  color: var(--cor8);
}

#home .menu a {
  width: min-content;
  padding: 4px 8px;

  border-radius: 4px;

  color: var(--cor8);
  font-size: 18px;

  transition: all 0.3s;
}

#home .menu a:hover {
  background-color: var(--cor8);
  color: var(--cor2);
}

#home .header-buttons {
  display: flex;
  justify-content: end;
  flex: 1;
  gap: 4px;
}

#home .header-buttons button {
  transition: all 0.3s;
}

#home .header-buttons button:hover {
  transform: scale(1.05);
}

#home section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

#home .home-img img {
  display: block;
  width: 384px;
  margin: 0 auto;
}

#home .home-text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#home .home-text h1 {
  font-size: 2rem;
}

#home .home-text p {
  color: var(--cor7);
  line-height: 24px;
}

#home .home-text a {
  width: fit-content;
  padding: 8px;

  background-color: var(--cor6);
  border-radius: 4px;

  color: var(--cor8);
  font-weight: 600;
  text-decoration: none;

  transition: all 0.3s ease;
}

#home .home-text a:hover {
  transform: scale(1.05);
}

#games {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 24px;

  padding: 48px 24px;

  background-color: var(--cor2);

  color: var(--cor8);
}

#games h2 {
  font-size: 32px;
  letter-spacing: 4px;
  text-shadow: 3px 3px var(--cor6);
}

#games .container-games {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 32px;

  width: 100%;
  margin: 0 auto;
}

#games .container-games article {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 200px;
  height: 300px;

  border-radius: 8px;

  background-position: center;
  background-size: 100%;
  box-shadow: 5px 5px 1px 1px #00000046;

  cursor: pointer;
  transition: all 0.3s;
}

#games .container-games article span {
  display: none;

  padding: 4px 12px;

  background-color: #00000059;
  border-radius: 4px;
  color: var(--cor8);
}

#games .container-games article:hover {
  filter: brightness(0.7);
  background-size: 110%;
}

#games .container-games article:hover span {
  display: block;
}

#about {
  display: flex;
  align-items: center;

  padding: 24px;

  background: linear-gradient(to bottom, var(--cor2), var(--cor3), var(--cor4));
  background-image: url(../img/background-invert.jpg);

  background-repeat: no-repeat;

  color: var(--cor7);
}

#about article {
  display: flex;
  flex-direction: column;

  padding: 24px;

  background-color: var(--cor4);
  border-radius: 8px;
  box-shadow: 5px 5px 1px 1px #00000046;
}

#about .about-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;

  padding: 8px 0px;
}

#about .about-title img {
  width: 32px;
}

#about .about-title h2 {
  height: fit-content;
  margin-top: auto;

  color: var(--cor8);
  font-size: 32px;
  letter-spacing: 4px;
  text-shadow: 3px 3px var(--cor6);
}

#about .about-text {
  display: flex;
  flex-direction: column;

  gap: 12px;

  padding: 0px 8px;
  margin-left: 12px;

  border-left: 2px solid var(--cor7);

  color: var(--cor7);
}

#about .about-text p {
  color: var(--cor8);
  font-size: 16px;
  line-height: 24px;
}

#modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  display: none;
  flex-direction: column;

  width: 80%;
  max-width: 640px;
  height: 80%;
  max-height: 758px;

  border-radius: 12px;
  overflow: hidden;

  background-color: #1e1e2f;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);

  color: var(--cor8);

  z-index: 10;
}

#modal .modal-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 60%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#modal .modal-header .close-modal-button {
  align-self: flex-end;

  margin: 24px;
  margin-left: auto;
  padding: 4px;

  background-color: #0000001a;
  border-radius: 50%;

  transition: all 0.3s;
}

#modal .modal-header .close-modal-button:hover {
  background-color: #ffffff1a;
}

#modal .modal-header nav {
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 16px 24px;

  background-color: #0000004b;
  backdrop-filter: blur(2px);
}

#modal .modal-header a {
  display: flex;
  align-items: center;
  gap: 12px;

  width: fit-content;
  padding: 8px 16px;

  background: linear-gradient(to right, var(--cor6), var(--cor5));
  box-shadow: 0 4px 12px #0000004d;
  border-radius: 4px;

  color: var(--cor8);
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;

  transition: all 0.3s ease;
}

#modal .modal-header a:hover {
  background: linear-gradient(to right, var(--cor5), var(--cor6));
}

#modal .modal-header nav button {
  padding: 8px;

  border: none;
  border-radius: 4px;

  color: var(--cor8);
  font-weight: 500;
  cursor: pointer;

  transition: all 0.3s ease;
}

#modal nav button:hover {
  background: linear-gradient(to right, var(--cor6), var(--cor5));
}

#modal main {
  display: flex;
  flex-direction: column;
  gap: 24px;

  height: 40%;
  padding: 24px;
}

#modal .modal-infos {
  display: flex;
  flex-direction: row;
  gap: 12px;
  height: 100%;
}

#modal .modal-infos img {
  height: 100%;

  border-radius: 4px;
}

#modal .modal-infos div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}

#modal .modal-infos div p {
  color: var(--fontColor);
  font-size: 12px;
  line-height: 18px;
}

#modal .modal-infos div span {
  color: var(--fontColor1);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;

  padding: 32px;

  background-color: #121212;

  color: white;
  text-align: center;
}
