* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --cor1: #0d0d0d;
  --cor2: #032ca6;
  --cor3: #0433bf;
  --cor4: #413cbc;
  --cor5: #795ed8;
  --cor6: #9c7af3;
  --cor7: #dacce9;
  --cor8: #fbf5ff;
  --fontColor: #a0a7c0;
  --fontColor1: #797f92;
}

/*
  Escala para padding, margin e gap e pode usar o border radius também

  4px
  8px
  12px
  16px
  24px
  32px
  48px
  64px
  96px
  128px
  192px
  256px
  384px
  512px
  640px
  768px
*/

/* Scrollbar para navegadores WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--cor2);
}

::-webkit-scrollbar-thumb {
  background: var(--cor8);
  border: 2px solid var(--cor2);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--cor7);
}

a {
  text-decoration: none;
}

abbr {
  text-decoration: none;
}

button {
  display: flex;

  width: fit-content;
  height: fit-content;

  border: none;
  background: none;

  cursor: pointer;
}

svg {
  display: flex;

  width: fit-content;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;

  height: 100vh;
}
